{% load static %}
      <div class="card" id="cardc">
          <table class="table" >
              <thead class="table-light">
                       <tr>
                        <th colspan="3">
                            <div class="pagetitle">
                                    <h1>Appointment</h1>
                                </div>
                        </th>
                        <th colspan="3">
                             <div class="search-bar py-3">
                                <form  id="formbtn" class="search-form d-flex align-items-center" method="GET" action="">
                                    <input type="text" name="search_staff" placeholder="Search" title="Enter search keyword">
                                    <button type="submit" title="Search"><i class="bi bi-search" id="searchbtn"></i></button>
                                    <a class="btn btn-info" href="">Add</a>
                              </form>
                            </div>
                        </th>
        <!--                <th>Reason</th>-->
                    </tr>
                  <tr>
                      <th>FirstName</th>
                      <th>Last Name</th>
                      <th>Email</th>

                      <th>Date</th>
                      <th>Time</th>
                      <th>Edit</th>
                      <th>Delete</th>
                  </tr>
              </thead>
              <tbody class="table" style="font-size:13px;">
               {% for appoint in appointment %}
                  <tr>
                      <td>{{appoint.first_name}}</td>
                      <td>{{appoint.second_name}}</td>
                      <td>{{appoint.email}}</td>

                      <td>{{appoint.appointment_date}}</td>
                      <td>{{appoint.appointment_time}}</td>
                      <td>
                          <a href="{% url 'myapp:update_appointment' appoint.id %}" title="Edit Appointment" class="btn btn-info"><i class="fas fa-pen"></i></a>
                      </td>
                       <td>
                          <a href="{% url 'myapp:delete_appointment' appoint.id %}" title="Delete Appointment" class="btn btn-info"><i class="fas fa-trash-alt"></i></a>
                      </td>
                  </tr>
               {% endfor %}
              </tbody>
          </table>
      </div>

