   <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'myapp:doctor_appointment' %}">Appointment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'myapp:medical_record' %}">Medical Records</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'myapp:medication' %}">Medication</a>
            </li>
        </ul>
    </div>

