<!DOCTYPE html>
<html>
<head>
    <title>View Medical Record</title>
</head>
<body>
    <h2>View Medical Record</h2>
    <p><strong>First Name:</strong> {{ medical_record.first_name }}</p>
    <p><strong>Second Name:</strong> {{ medical_record.second_name }}</p>
    <p><strong>First Name:</strong> {{ medical_record.third_name }}</p>
    <p><strong>Date of Birth:</strong> {{ medical_record.dateofbirth }}</p>
    <p><strong>Gender:</strong> {{ medical_record.gender }}</p>
    <p><strong>Contact:</strong> {{ medical_record.contact }}</p>
    <p><strong>Email:</strong> {{ medical_record.email }}</p>
    <p><strong>Treatment:</strong> {{ medical_record.treatment }}</p>
    <p><strong>Medication:</strong> {{ medical_record.medication }}</p>
</body>
</html>